{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="card bg-dark shadow p-4 text-white" style="border-radius: 15px; margin-left: 150px;">
        <div class="card-body">
            <h2 class="card-title text-warning">{{ programa.nome }}</h2>
            <p class="card-text">
                <strong>Tema:</strong> {{ programa.tema }} <br>
                <strong>Periodicidade:</strong> {{ programa.periodicidade }}
            </p>
            <p class="card-text">
                <strong>Responsável:</strong> {{ programa.responsavel }}
            </p>
            <p class="card-text">
                <strong>Descrição:</strong> {{ programa.descricao }}
            </p>

            {% if programa.links %}
                <p class="card-text">
                    <strong>Links relacionados:</strong> 
                    <a href="{{ programa.links }}" target="_blank" class="text-decoration-none text-info">
                        Acessar
                    </a>
                </p>
            {% endif %}

            <hr class="text-secondary">

            <p class="card-text">
                <strong>Tipo de programa:</strong> {{ tipo }}
            </p>
            {% if programa_especifico %}
                <p class="card-text">
                    <strong>Detalhes específicos:</strong> {{ programa_especifico }}
                </p>
            {% else %}
                <p>Sem detalhes específicos para este programa.</p>
            {% endif %}

            {% if user.is_superuser %}
                <div class="mt-4">
                    <a href="{% url 'programa_update' programa.pk %}" class="btn btn-warning me-2">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <form method="post" action="{% url 'programa_delete' programa.pk %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza de que deseja excluir este programa?')">
                            <i class="bi bi-trash"></i> Excluir
                        </button>
                    </form>
                </div>
            {% endif %}

            <div class="mt-4">
                <a href="{% url 'listar_programas' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left-circle"></i> Voltar para a lista
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
