{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5 pt-5 text-white" style="margin-left: 1px;">
    <h2>Programas</h2>
    {% if user.is_superuser %}
    <a href="{% url 'programa_create' %}" class="btn btn-primary mb-3">Criar Novo Programa</a>
    {% endif %}
    
    {% if programas %}
        <ul>
            {% for programa in programas %}
                <li>
                    <a href="{% url 'programa_detail' programa.pk %}">{{ programa.nome }}</a>
                    <p>{{ programa.tema }} - {{ programa.periodicidade }}</p>
                    {% if user.is_superuser %}
                        <a href="{% url 'programa_update' programa.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'programa_delete' programa.pk %}" class="btn btn-danger">Excluir</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Não há programas cadastrados.</p>
    {% endif %}
</div>
{% endblock %}
