{% load static %}

{% block extra_head %}
    <link href="{% static 'global/css/navbar.css' %}" rel="stylesheet"/>
{% endblock %}

<!-- Navbar Superior -->
<div class="navbar-top">
    <div></div>
    {% if trocar_perfil == 0 %} <!-- NAV ALUNO -->
    <div class="menu">
        <a href="#">Dashboard</a>
        <a href="#">Notificações</a>
        <a href="#">Programas</a>
        <a href="{% url 'listar_eventos' %}">
            <span class="txt-link">Eventos</span>
        </a>
        <a href="#">FAQ</a>
    </div>
    <div class="profile"></div>

    {% else %} <!-- NAV FUNCIONÁRIO -->
    <div class="menu">
        <a href="#">Dashboard</a>
        <a href="#">Notificações</a>
        <a href="#">Programas</a>
        <a href="{% url 'cadastrar_evento' %}">
            <span class="txt-link">Eventos</span>
        </a>
        <a href="#">FAQ</a>
    </div>
    <div class="profile"></div>
    {% endif %}
</div>

<!-- Navbar Lateral -->
<div class="navbar-side">
    <div class="logo">
        <a href="#">Logo</a>
    </div>

    <a href="#">Comunidade</a>
    <a href="#">Notificações</a>
    <a href="#">Favoritos</a>
    <a href="#">Calendário</a>
    <a href="{% url 'logout' %}">
        <span class="txt-link">Logout</span>
    </a>
</div>
