{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-start">
            <p>(<strong>Status das Inscrições:</strong> {{ programa.get_status_inscricoes_display }})</p>
        </div>
    </div>
    <div class="row justify-content-between align-items-center">
        <div class="col-md-8">
            <h1 class="mb-3">{{ programa.titulo }}</h1>
            <p>{{ programa.descricao }}</p>
            <p><strong>Data de Início:</strong> {{ programa.inicio_evento }}</p>
            <p><strong>Data de Término:</strong> {{ programa.fim_evento }}</p>
            <p><strong>Carga Horária:</strong> {{ programa.carga_horaria }} horas</p>
            <p><strong>Link para Inscrição:</strong> <a href="{{ programa.link_inscricao }}">{{ programa.link_inscricao }}</a></p>

            <!-- Mostrar informações específicas com base no tipo -->
            {% if programa.tipo == "voluntariado" %}
                <h5>Voluntariado</h5>
                <p><strong>Local de Trabalho:</strong> {{ programa.local_trabalho }}</p>
                <p><strong>Organização Parceira:</strong> {{ programa.organizacao_parceira }}</p>
                <p><strong>Habilidades Requeridas:</strong> {{ programa.habilidades_requeridas|join:", " }}</p>
            {% elif programa.tipo == "monitoria" %}
                <h5>Monitoria</h5>
                <p><strong>Professor Orientador:</strong> {{ programa.professor_orientador }}</p>
                <p><strong>Disciplina:</strong> {{ programa.disciplina }}</p>
                <p><strong>Cadeiras Requeridas:</strong> {{ programa.cadeiras_requeridas|join:", " }}</p>
            {% elif programa.tipo == "iniciacao_cientifica" %}
                <h5>Iniciação Científica</h5>
                <p><strong>Duração:</strong> {{ programa.duracao }} meses</p>
                <p><strong>Bolsa de Pesquisa:</strong> {{ programa.bolsa_pesquisa|yesno:"Sim,Não" }}</p>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h5>Tags</h5>
            {% if programa.tags %}
                <ul>
                    {% for tag in programa.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhuma tag adicionada.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
