asgiref==3.8.1
Django==5.1.1
djangorestframework==3.15.2
sqlparse==0.5.1
tzdata==2024.2

# Essas são as que estávam no github do professor
python-dotenv
psycopg2-binary
gunicorn
whitenoise

# Para endpoints
djangorestframework

# Para algunas comandos

Pillow 
unidecode