{% extends "global/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'global/css/iniciativa.css' %}">
<h1>Iniciativas Estudantis</h1>
{% if user.is_superuser %}
<a href="{% url 'iniciativa_create' %}">Criar Nova Iniciativa</a>
{% endif %}
<ul>
    {% for iniciativa in iniciativas %}
    <li>{{ iniciativa.titulo }} - <a href="{% url 'iniciativa_update' iniciativa.id %}">Editar</a> | <a href="{% url 'iniciativa_delete' iniciativa.id %}">Excluir</a></li>
    {% endfor %}
</ul>
{% endblock %}