{% extends 'global/base.html' %}

<title>{% block title %}Cadastrar Evento{% endblock %}</title>

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Cadastrar Evento</h1>
    <form method="POST" action="{% url 'cadastrar_evento' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo_evento">Tipo de Evento:</label>
                    <input type="text" id="tipo_evento" name="tipo_evento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição do Evento:</label>
                    <textarea id="descricao" name="descricao" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="inicio_evento">Início do Evento:</label>
                    <input type="datetime-local" id="inicio_evento" name="inicio_evento" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fim_evento">Fim do Evento:</label>
                    <input type="datetime-local" id="fim_evento" name="fim_evento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="vagas">Número de Vagas:</label>
                    <input type="number" id="vagas" name="vagas" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <select id="tipo" name="tipo" class="form-control" required>
                        <option value="online">Online</option>
                        <option value="presencial">Presencial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="carga_horaria">Carga Horária:</label>
                    <input type="number" step="0.1" id="carga_horaria" name="carga_horaria" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="local">Local:</label>
                    <input type="text" id="local" name="local" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Cadastrar Evento</button>
        </div>
    </form>
</div>
{% endblock %}
