{% extends 'global/base_logins.html' %}
{% load static %}

{% block body %}
<div class="center">
    <form class="login" method="post">
        {% csrf_token %}
        <h1>Cadastro</h1>
        
        <div class="box-user">
            {{ form.nome.label_tag }}  <!-- Rótulo do campo Nome -->
            {{ form.nome }}  <!-- Campo Nome -->
        </div>
        
        <div class="box-user">
            {{ form.email.label_tag }}  <!-- Rótulo do campo Email -->
            {{ form.email }}  <!-- Campo Email -->
        </div>
        
        <div class="box-user">
            {{ form.telefone.label_tag }}  <!-- Rótulo do campo Telefone -->
            {{ form.telefone }}  <!-- Campo Telefone -->
        </div>

        <div class="box-user">
            {{ form.curso.label_tag }}  <!-- Rótulo do campo Curso -->
            {{ form.curso }}  <!-- Campo Curso -->
        </div>
        
        <div class="box-user">
            {{ form.password.label_tag }}  <!-- Rótulo do campo Senha -->
            {{ form.password }}  <!-- Campo Senha -->
        </div>

        <div class="box-user">
            {{ form.confirm_password.label_tag }}  <!-- Rótulo do campo Confirmar Senha -->
            {{ form.confirm_password }}  <!-- Campo Confirmar Senha -->
        </div>

        <div class="box-user">
            <label for="trocar_perfil">Você é funcionário?</label>
            {{ form.trocar_perfil }}  <!-- Campo para marcar se é funcionário -->
        </div>

        {% if messages %}
            <ul class="error-messages">
                {% for message in messages %}
                    <li class="erro">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div>
            <p>Já possui uma conta? <a href="{% url 'login' %}">Faça login aqui.</a></p>
        </div>
        
        <button type="submit" class="btn_login">Registrar</button>
    </form>
</div>
{% endblock %}