{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Cadastrar novo evento</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <!-- Coluna 1 (esquerda) -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="titulo"><strong>*Título do evento:</strong></label>
                    {{ form.titulo }}
                </div>
                <div class="form-group">
                    <label for="local"><strong>*Local do evento (Campus, prédio...):</strong></label>
                    {{ form.local }}
                </div>
                <div class="form-group">
                    <label for="descricao"><strong>*Descrição do evento:</strong></label>
                    {{ form.descricao }}
                </div>
            </div>

            <!-- Coluna 2 (central) -->
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inicio_evento"><strong>*Data:</strong></label>
                            {{ form.inicio_evento }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fim_evento">Data de término:</label>
                            {{ form.fim_evento }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="horario_de_inicio"><strong>*Horário de início:</strong></label>
                            {{ form.horario_de_inicio }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="horario_de_termino">Horário de término:</label>
                            {{ form.horario_de_termino }}
                        </div>
                    </div>
                </div>

                <!-- Campo para o palestrante/host -->
                <div class="form-group mt-3">
                    <label for="palestrante">Que pessoa guiará o evento (palestrante, host)?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcao_palestrante" id="opcaoNome" value="nome">
                        <label class="form-check-label" for="opcaoNome">Informar nome</label>
                        {{ form.palestrante }}
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcao_palestrante" id="opcaoIndefinido" value="indefinido">
                        <label class="form-check-label" for="opcaoIndefinido">
                            Indefinido / não informar
                        </label>
                    </div>
                </div>
            </div>

            <!-- Coluna 3 (direita) -->
            <div class="col-md-4">
                <div class="form-group">
                    <label><strong>*Que instituição/grupo estudantil organizará o evento?</strong></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcao_instituicao" id="opcaoCesarSchool" value="cesarschool">
                        <label class="form-check-label" for="opcaoCesarSchool">CESAR School</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcao_instituicao" id="opcaoCesarOrg" value="cesarorg">
                        <label class="form-check-label" for="opcaoCesarOrg">CESAR ORG</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="opcao_instituicao" id="opcaoNome" value="nome">
                        {{ form.instituicao }}
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="participantes">Participantes convidados:</label>
                    {{ form.participantes }}
                </div>
                <button type="button" class="btn btn-secondary">+</button>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Publicar evento</button>
        </div>
    </form>
</div>
{% endblock %}
