{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Link para o CSS do formulário -->
<link rel="stylesheet" href="{% static 'global/css/cadastrar_evento.css' %}">

<div class="content-cadastro">
    <h1>{% if form.instance.pk %}Editar{% else %}Cadastrar{% endif %} Iniciação Científica</h1>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <!-- Coluna 1 (esquerda) -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="titulo"><strong>*Título:</strong></label>
                    {{ form.titulo }}
                </div>

                <div class="form-group">
                    <label for="descricao"><strong>*Descrição:</strong></label>
                    {{ form.descricao }}
                </div>

                <div class="form-group">
                    <label for="status_inscricoes"><strong>*Status das Inscrições:</strong></label>
                    {{ form.status_inscricoes }}
                </div>

                <div class="form-group">
                    <label for="inicio_evento"><strong>Data de Início:</strong></label>
                    {{ form.inicio_evento }}
                </div>

                <div class="form-group">
                    <label for="fim_evento"><strong>Data de Término:</strong></label>
                    {{ form.fim_evento }}
                </div>
            </div>

            <!-- Coluna 2 (central) -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="carga_horaria"><strong>Carga Horária:</strong></label>
                    {{ form.carga_horaria }}
                </div>

            </div>

            <!-- Coluna 3 (direita) -->
            <div class="col-md-4">
                <div class="form-group">
                    <label for="link_inscricao"><strong>Link de Inscrição:</strong></label>
                    {{ form.link_inscricao }}
                </div>

                <div class="form-group">
                    <label for="duracao"><strong>Duração (em meses):</strong></label>
                    {{ form.duracao }}
                </div>

                <div class="form-group">
                    <label for="professor_orientador"><strong>Professor Orientador:</strong></label>
                    {{ form.professor_orientador }}
                </div>

                <div class="form-group">
                    <label for="bolsa_pesquisa"><strong>Bolsa de Pesquisa:</strong></label>
                    {{ form.bolsa_pesquisa }}
                </div>

                <div class="form-group">
                    <label for="tags"><strong>Tags:</strong></label>
                    <div id="tags-container">
                        <input type="text" name="tags[]" class="form-control mt-2" placeholder="Digite uma tag">
                    </div>
                    <button type="button" class="btn btn-secondary mt-2" id="add-tag">+</button>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn-publicar-evento">
                {% if form.instance.pk %}Atualizar{% else %}Cadastrar{% endif %} Iniciação Científica
            </button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const maxTags = 5;
        let tagsCount = 1;

        const addTagBtn = document.getElementById("add-tag");

        addTagBtn.addEventListener("click", () => {
            if (tagsCount < maxTags) {
                const input = document.createElement("input");
                input.type = "text";
                input.name = "tags[]";
                input.className = "form-control mt-2";
                input.placeholder = "Digite uma tag";
                document.getElementById("tags-container").appendChild(input);
                tagsCount++;

                if (tagsCount === maxTags) {
                    addTagBtn.style.display = 'none';
                }
            }
        });
    });
</script>

{% endblock %}
