{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Cadastrar Evento</h1>
    
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <!-- Coluna 1 -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipo">Tipo de Evento:</label>
                    {{ form.tipo }}
                </div>
                
                <div class="form-group">
                    <label for="titulo">Título:</label>
                    {{ form.titulo }}
                </div>
                
                <div class="form-group">
                    <label for="descricao">Descrição do Evento:</label>
                    {{ form.descricao }}
                </div>
                
                <div class="form-group">
                    <label for="inicio_evento">Início do Evento:</label>
                    {{ form.inicio_evento }}
                </div>
                
                <div class="form-group">
                    <label for="fim_evento">Fim do Evento:</label>
                    {{ form.fim_evento }}
                </div>
            </div>
            
            <!-- Coluna 2 -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="vagas">Número de Vagas:</label>
                    {{ form.vagas }}
                </div>
                
                <div class="form-group">
                    <label for="carga_horaria">Carga Horária (em horas, por exemplo 2.5 para 2 horas e 30 minutos):</label>
                    {{ form.carga_horaria }}
                </div>
                
                <div class="form-group">
                    <label for="local">Local:</label>
                    {{ form.local }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3">Cadastrar Evento</button>
        </div>
    </form>
</div>
{% endblock %}
