{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'global/css/home_aluno.css' %}">


<div class="body">
    <div class="criar"></div>
    <button id="botao_1"></button>
    <button id="botao_2"></button>
    <button id="botao_3"></button>
    <button id="botao_4"></button>
    <button id="botao_5"></button>
    <button id="botao_6"></button>
    <button id="botao_7"></button>
    <button id="botao_8"></button>
    <button id="botao_9"></button>
    <button id="botao_10"></button>
    <button id="botao_11"></button>
    <button id="botao_12"></button>
    <button id="botao_13"></button>
    <button id="botao_14"></button>
    <button id="botao_15"></button>
    <button id="botao_16"></button>
    <button id="botao_17"></button>
    <button id="botao_18"></button>
    <button id="botao_19"></button>
    <button id="botao_20"></button>
    <div id="atividades-complementares">Atividades complementares</div>
    <div id="iniciativas-estudantis">Iniciativas estudantis</div>
    <div id="eventech">Eventech</div>
    <div id="beneficios-email">Benefícios do email</div>
    <div id="atividades-atuais">Suas atividades atuais</div>
    <div id="grupos-estudos">Grupos de estudos </div>
</div>
    
{% endblock %}

