{% extends 'global/base_logins.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="item">
        <img src="{% static 'imgs/logo_branco.png' %}" class="logo" alt="Logotipo da Polaris">
        <div class="tagline">
            Sua faculdade <span class="highlight">simplificada</span> para você
        </div>
    </div>
    <div class="item">
        <form class="login" method="post">
            {% csrf_token %}
            
            <h1>Login</h1>

            <!-- Email Input -->
            <div class="box-user">
                <label for="email">E-mail institucional</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            </div>
                
            <!-- Password Input -->
            <div class="box-user">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="senha" placeholder="Digite sua senha" required>
            </div>


    
            <!-- Sign In Button -->
            <div class="d-grid">
                <button class="btn_login" type="submit">Entrar</button>
                

            </div>
            <div class="link-cadastro">
                <p>Não tem uma conta? <a href="{% url 'cadastro_usuario' %}">Criar conta</a></p>
            </div>
        </form>
        
        <!-- Exibir mensagens de erro, se houver -->
        {% if messages %}
            <div class="alert alert-danger mt-3">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
