{% extends 'global/base.html' %}

<title>{% block title %}{{ evento.titulo }}{% endblock %}</title>

{% block content %}
    <body>
        <h1>{{ evento.titulo }}</h1>
        <p><strong>Tipo de Evento:</strong> {{ evento.tipo_evento }}</p>
        <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
        <p><strong>Início:</strong> {{ evento.inicio_evento }}</p>
        <p><strong>Fim:</strong> {{ evento.fim_evento }}</p>
        <p><strong>Vagas Disponíveis:</strong> {{ evento.vagas }}</p>
        <p><strong>Tipo:</strong> {{ evento.get_tipo_display }}</p>
        <p><strong>Carga Horária:</strong> {{ evento.carga_horaria_formatada }}</p>
        <p><strong>Local:</strong> {{ evento.local }}</p>
    </body>
    {% endblock %}