{% extends 'global/base.html' %}
{% load static %}

<title>{% block title %}{{ grupo.titulo }}{% endblock %}</title>

<link rel="stylesheet" href="{% static 'global/css/visualizar_grupo.css' %}">

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-start">
            <h1>{{ grupo.titulo }}</h1>
            <p><strong>Tema:</strong> {{ grupo.tema }}</p>
            <p><strong>Professor Orientador:</strong> {{ grupo.professor_orientador }}</p>
            <p><strong>Número de Integrantes:</strong> {{ grupo.numero_integrantes }}</p>
            <p><strong>Carga Horária Semanal:</strong> {{ grupo.carga_horaria_semanal }} horas</p>
            <p><strong>Dias de Reunião:</strong> {{ grupo.dias_reuniao }}</p>
            <p><strong>Hora da Reunião:</strong> {{ grupo.hora_reuniao }}</p>
            <p><strong>Descrição:</strong> {{ grupo.descricao }}</p>

            <!-- Bloco de tags -->
            <h3>Tags:</h3>
            <ul>
                {% for tag in grupo.tags %}
                    <li>{{ tag }}</li>
                {% empty %}
                    <li>Nenhuma tag disponível</li>
                {% endfor %}
            </ul>
            <!-- Fim do bloco de tags -->
             
        </div>
    </div>
</div>
{% endblock %}
