@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.corpo {
    overflow-y: auto; /* Permite rolagem vertical se necessário */
    font-family: 'Poppins';
}

.content-cadastro{
    padding: 10vh 5vw 0 10vw; /* Espaços: topo, direita, baixo, esquerda */
    position: relative;
}

h1 {
    color: white; /* Deixa o texto branco */
    font-size: 2rem; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito, se desejar */
}

label {
    color: #ffff;
    font-weight: 500;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
}

.form-group label {
    display: block; /* Força o label a ocupar toda a linha */
    margin-bottom: 5px; /* Adiciona espaço entre o label e o input */
}

.form-group input, 
.form-group select, 
.form-group textarea {
    width: 100%; /* Ajusta o input para ocupar o espaço disponível */
    box-sizing: border-box; /* Evita que padding quebre o layout */
}

.required::before {
    content: "*"; /* Adiciona o asterisco */
    color: #007BFF; /* Define o azul para o asterisco */
    margin-right: 4px; /* Espaço entre o asterisco e o texto */
    font-size: 1em; /* Tamanho proporcional ao texto */
    font-weight: bold; /* Deixa o asterisco em destaque */
}

#tags-container {
    display: flex;
    width: 99px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 7px;
}

#objetivo {
    display: flex;
    width: 286px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
}

#docente-supervisor {
    display: flex;
    width: 286px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px;
}



.form-group-inline {
    display: flex;
    justify-content: space-between;
}

.form-group-inline > div {
    flex: 1;
    margin-right: 10px;
}

.form-group-inline > div:last-child {
    margin-right: 0;
}

.btn-publicar-evento{
    margin-top: 2.5rem;
    background-color: #2F8F2F;
    color: white;
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove borda */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    text-decoration: none; /* Remove sublinhado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Suaviza transições */
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {
    flex: 1;
    margin: 0 10px;
}

.col-md-4:first-child {
    width: 604px;
    margin-left: 0;
}

.col-md-4:last-child {
    margin-right: 0;
}