.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    margin: 50px;
}

.logo {
    width: 100%;
    max-width: 350px;
}

.login {
    width: 382px;
    height: 442px;
    border-radius: 40px;
    background: #F6F6F9;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Opcional, se você quiser que os elementos fiquem em coluna */
}

.box-user {
    margin-bottom: 15px;
}

.btn_login {
    width: 120px;
    height: 48px;
    border-radius: 7px;
    opacity: 0.5;
    background: rgba(58, 58, 60, 0.22);
    flex-shrink: 0;
}

.btn_login:hover {
    background-color: #5a6268;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}

.form-control {
    width: 299px;
    height: 48px;
    border-radius: 7px;
    opacity: 0.5;
    background: rgba(58, 58, 60, 0.22);
    flex-shrink: 0;
}