.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item {
    margin: 20px;
}

.logo {
    width: 100%;
    max-width: 350px;
}

.login {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.box-user {
    margin-bottom: 15px;
}

.btn_login {
    background-color: #6c757d;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.btn_login:hover {
    background-color: #5a6268;
}

.text-center a {
    color: #007bff;
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}